@keyframes anm1 {
  from {background-color: #6D0035;}
  to {background-color: black;}
}


@keyframes anm2 {
  from {color: black;}
  to {color: #6D0035;}
}

@keyframes anm3 {
  from {background-color: black;}
  to {background-color: #6D0035;}
}

@keyframes anm4 {
  from {background-color: black;}
  to {background-color: white;}
}

@keyframes anm5 {
  from {border-color: black}
  to {border-color: #6D0035}
}


summary {
  font-family: monospace;
  font-style: oblique;
  font-size: 40px;
  text-align: center;
  animation: anm2 2s;
  color: #6D0035;2
}

body {
  animation: anm1 2s;
  background-color: black;
}

.Image {
  text-align: center;
}

img {
  width: 80px;
  height: 140px;
  text-align: center;
}

button {
  font-family: monospace;
  font-style: normal;
  background-color: black;
  color: #6D0035;
  animation: anm2 2s;
  align: center;
  border-style: dashed;
  font-size: 20px;
}

.wrapper {
    text-align: center;
}

.Chr_Buttons_01 {
  text-align: center;
}

.Chr_Buttons_02 {
  text-align: center;
}

.Contact_Buttons {
  text-align: center;
}

.SortClass {
  text-align: center;
}

#ButtonDiscord {
  width: 100px;
  height: 100px;
  background-color: black;
  background-image: url('DiscordLogo.png');
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border-style: none;
  animation: anm1 2s;
}

#ButtonEmail {
  width: 100px;
  height: 100px;
  background-color: black;
  background-image: url('EmailLogo.png');
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border-style: none;
  animation: anm1 2s;
}

#ButtonInstagram {
  width: 100px;
  height: 100px;
  background-color: black;
  background-image: url('InstagramLogo.png');
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  border-style: none;
  animation: anm1 2s;
}

#Button404 {
  width: 100px;
  height: 100px;
  background-color: black;
  background-image: url('01101100 01101001 01101110 01101001 01101111.png');
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border-style: double;
  animation: anm1 2s;
  color: lightgrey;
  text-align-last: center;
}

#ButtonNick {
  width: 100px;
  height: 100px;
  background-color: black;
  background-image: url('Chr_Nick.png');
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border-style: double;
  animation: anm1 2s;
  color: lightgrey;
  text-align-last: center;
}

#ButtonAsha {
  width: 100px;
  height: 100px;
  background-color: black;
  background-image: url('Chr_Asha.png');
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border-style: double;
  animation: anm1 2s;
  color: lightgrey;
  text-align-last: center;
}

#ButtonJaylo {
  width: 100px;
  height: 100px;
  background-color: black;
  background-image: url('Chr_Jaylo.png');
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border-style: double;
  animation: anm1 2s;
  color: lightgrey;
  text-align-last: center;
}

#ButtonAlpha {
  width: 100px;
  height: 100px;
  background-color: black;
  background-image: url('Chr_Alpha.png');
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border-style: double;
  animation: anm1 2s;
  color: lightgrey;
  text-align-last: center;
}

#ButtonBeta {
  width: 100px;
  height: 100px;
  background-color: black;
  background-image: url('Chr_Beta.png');
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border-style: double;
  animation: anm1 2s;
  color: lightgrey;
  text-align-last: center;
}

#ButtonPineapple {
  width: 100px;
  height: 100px;
  background-color: black;
  background-image: url('Chr_Pineapple.png');
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border-style: double;
  animation: anm1 2s;
  color: lightgrey;
  text-align-last: center;
}

#ButtonPineapple {
  width: 100px;
  height: 100px;
  background-color: black;
  background-size: 200px 200px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border-style: double;
  animation: anm1 2s;
  color: lightgrey;
  text-align-last: center;
}

hr {
   text-align: center;
   width: 100%;
   height: 10px;
   background-color: #6D0035;
   border-color: #6D0035;
}

#hr1 {
  text-align: center;
  width: 100%;
  height: 1px;
  background-color: #6D0035;
  border-color: #6D0035;
  animation: anm3 2s;
}

#hr2 {
  text-align: center;
  width: 100%;
  height: 1px;
  background-color: inherit;
  border-color: #6D0035;
  border-style: dotted;
  border-width: medium;
  animation: anm5 2s;
}

h1 {
  font-family: monospace;
  font-style: oblique;
  font-size: 100px;
  text-align: center;
  animation: anm2 2s;
  color: #6D0035;2
  text-shadow: white;
}

h2 {
  text-align: center;
  font-family: monospace;
  font-style: oblique;
  font-size: 40px;
  animation: anm2 2s;
  color: #6D0035;
}

h2 {
  text-align: center;
  font-family: monospace;
  font-style: oblique;
  font-size: 40px;
  animation: anm2 2s;
  color: #6D0035;
}

h3 {
  text-align: center;
  font-family: monospace;
  font-style: oblique;
  font-size: 35px;
  animation: anm2 2s;
  color: #6D0035;
}

h3 {
  text-align: center;
  font-family: monospace;
  font-style: oblique;
  font-size: 35px;
  animation: anm2 2s;
  color: #6D0035;
}
h4 {
  text-align: center;
  font-family: monospace;
  font-style: oblique;
  font-size: 30px;
  animation: anm2 2s;
  color: #6D0035;
}

p {
  text-align: center;
  font-family: monospace;
  font-style: normal;
  font-size: 20px;
  animation: anm2 2s;
  color: #6D0035;
}

#Chr_Jaylo_FanArt {
  width: 35%;
  height: auto;
  border-style: double;
  border-collapse: inherit;
  border-width: 10px;
  border-image: url("rainbow.png");
  border-image-width: 100%;
}

.Img_Jaylo {
  text-align: center;
}
